@model KidKinder.Entities.MailSubscribe



<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href=""
               class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
               style="font-size: 40px; line-height: 40px">
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-white">KidKinder</span>
            </a>
            <p>
                Bilgiye erişme becerisine sahip, verimli çalışma alışkanlığı kazanmış, yaratıcı, sorgulayıcı ve bağımsız düşünebilen, sanata ve insana duyarlı, etik değerlere saygılı, ilkeli ve öz güven sahibi bireyler yetiştirmeyi hedeflemektedir.
            </p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px"
                   href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px"
                   href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px"
                   href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px"
                   href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Bize Ulaşın</h3>
            <div class="d-flex">
                <h4 class="fa fa-map-marker-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Adres</h5>
                    <p>123 Street, New York, USA</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-envelope text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">E-Mail</h5>
                    <p>info@example.com</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-phone-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Telefon</h5>
                    <p>+012 345 67890</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Linkler</h3>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="/Default/Index/"><i class="fa fa-angle-right mr-2"></i>Ana Sayfa</a>
                <a class="text-white mb-2" href="/Default/#about"><i class="fa fa-angle-right mr-2"></i>Hakkımda</a>
                <a class="text-white mb-2" href="/Default/#class"><i class="fa fa-angle-right mr-2"></i>Eğitim Grupları</a>
                <a class="text-white mb-2" href="/Default/#teacher"><i class="fa fa-angle-right mr-2"></i>Öğretmenler</a>
                <a class="text-white mb-2" href="/Gallery/Index"><i class="fa fa-angle-right mr-2"></i>Galeri</a>
                <a class="text-white" href="/Contact/#iletisim"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Abone Ol</h3>
            <form method="post" action="/Default/MailSubscribe/" >
                <div class="form-group">
                    <input type="text"
                           class="form-control border-0 py-4"
                           name="NameSurname"
                           placeholder="İsminiz"
                           required="required" />
                </div>
                <div class="form-group">
                    <input type="email"
                           class="form-control border-0 py-4"
                           name="EmailSubscribe"
                           placeholder="Email Adresiniz"
                           required="required" />
                </div>
                <div>
                    <button class="btn btn-primary btn-block border-0 py-3"
                            type="submit"
                            name="action:btnA"
                            value="Buton A">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid pt-5"
         style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
        <p class="m-0 text-center text-white">
            &copy;
            <a class="text-primary font-weight-bold" href="#">KidKinder</a>.
            Tüm Hakkı Saklıdır.

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed by
            <a class="text-primary font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
            <br />Distributed By:
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
    </div>
</div>
