@model KidKinder.Entities.BookASeat

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5">
                    <span class="pr-2">Bir Yer Ayırın</span>
                </p>
                <h1 class="mb-4">Hemen Kaydolun</h1>
                <p>
                    Öğrencilerin bireysel farklılıklarını da göz önünde bulundurarak, uygulanan gelişmiş eğitim programları ve etkinlikleri aracılığı ile akademik ve sosyal yönden araştıran, sorgulayan ve dönüşümlü düşünen bireyler yetiştirmeye dayanmaktadır. Bu nedenle; öğrenmeyi öğrenmek, disiplinlerarasılık, takım çalışması, yaratıcılık ve ideali aramak kavramları felsefemizin vazgeçilmezidir.
                </p>
                <ul class="list-inline m-0">
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Yaratıcı Drama
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Dil Öğrenimi
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Bale Ve Modern Dans
                    </li>
                </ul>
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Eğitim Sınıfları</a>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-secondary text-center p-4">
                        <h1 class="text-white m-0">Yer Ayırın</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form method="post">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control border-0 p-4"
                                       name="Name"
                                       placeholder="İsminiz"
                                       required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email"
                                       class="form-control border-0 p-4"
                                       name="Email"
                                       placeholder="E-Mail Adresiniz"
                                       required="required" />
                            </div>

                            <div class="form-group">
                                <select class="custom-select border-0 px-4"
                                        style="height: 47px">
                                    <option selected>Sınıf Seçiniz</option>

                                    @*<option value=@Html.DropDownListFor(x=>x.ClassCategory,(List<SelectListItem>)ViewBag.v)</option>*@
                                    
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-block border-0 py-3"
                                        type="submit">
                                    Eğitimi Kaydet
                                </button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*@Html.DropDownListFor(x => x.ClassCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })*@