
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<body>

    <!-- Header Start -->
    @Html.Action("ContactHeaderPartial", "Contact")
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5" id="iletisim">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">İletişim</span>
                </p>
                <h1 class="mb-4">Herhangi Bir Soru İçin Bize Ulaşın</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        @Html.Action("ContactMessage", "Contact")
                    </div>
                </div>


                @Html.Action("ContactAddressPartial", "Contact")
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.5605699979983!2d29.016450975861055!3d41.05673777134383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7b4c550886d%3A0xdc9ab89b34686e7c!2sElbeyo%C4%9Flu%20Hukuk%20B%C3%BCrosu!5e0!3m2!1str!2str!4v1708591430916!5m2!1str!2str" width="1100" height="300" style="border:0; margin-left:200px; padding-bottom:20px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>